*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: grid;
    justify-content: center;
}
.container{
    display: grid;
    margin-top: 90px;
    width: 960px;
    height: 960px;
}
.container div{
    padding-bottom: 19%;
    min-width: 9px;
    max-width: 240px;
    border: 1px solid #1F0318;
    color: blue;
    font-size: 10px;
    display: inline-block;
}
.onDivhover{
    background-color: #ff006e;
}
#btn{
    width:80px;
    height: 35px;
    justify-self: center;
    margin-top: 30px;
}