*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    justify-content: center;
    /* height: 100vh; */
}
#reset-grid{
    width:80px;
    height: 45px;
    justify-self: center;
    margin-top:40px;
}